#intranet_left_menu  button.left_menu_plus_button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 20;
  display: inline;
  margin: 0px;


}

#intranet_left_menu  li.hasSubmenu {
  position: relative
}


li.active > a {
  background-color: #9C8866 !important;
  border-color: #9CCB3B !important;
  color: white !important;
}


.dataGrid table {
  margin: 0;
}


.icon-shopping-card {
  background-position: -359px -118px;
  width: 15px;
  height: 15px;
}

.full-width {
  width: 100%;
}

.summarize_all .value, .summarize_page .value {
  display: block;
}


.tabs {
  min-height: 49px;
}


.dataGrid table thead th.sorted_desc_hover {
  background-image: url('/assets/backbone_images/control_icons/sort_desc_hover.png') !important;
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #F5F3EF;
}

.dataGrid table thead th.sorted_asc_hover {
  background-image: url('/assets/backbone_images/control_icons/sort_asc_hover.png') !important;
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #F5F3EF;
}

.dataGrid table thead th.sorted_asc {
  background-image: url('/assets/backbone_images/control_icons/sort_asc.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #F1FADF;
}

.dataGrid table thead th.sorted_desc {
  background-image: url('/assets/backbone_images/control_icons/sort_desc.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #F1FADF;
}


.dataGrid table thead th.sorting_th {
  cursor: pointer;
}

.dataGrid table th.filtering_th {
  border: 1px solid #CCC;
  padding: 4px 12px;
}

.dataGrid table thead th .inputs.small_padding input.text {
  padding: 1px;
}

.dataGrid table thead .sorting_tr th, .dataGrid table thead .filtering_tr th {
  vertical-align: middle;
  text-align: center;
}

.dataGrid table thead th .inputs .text {
  min-width: 22px;
  width: 100% !important;
}

.dataGrid table thead th .inputs.range input.text {
  min-width: 22px;
  width: 39% !important;
}

.dataGrid table thead th .inputs.range {
  margin: auto;
  min-width: 59px;
  width: 100%;
  text-align: center;
}

.dataGrid table thead th {
  width: auto;
}

.dataGrid table th,
.dataGrid table td {
  padding: 5px 5px;
}

.dataGrid .selects {
  padding: 0px 15px;
  border-bottom: 1px solid #CCC;
}

.dataGrid table th.adviser_id {
  width: 5px;
}

.dataGrid table th.adviser_type {
  width: 5px;
}


.dataGrid table th.time {
  width: 100px;
}
//
// Calendar
//
div.selects table#calendar_header {
  width: 100%;
}

div.selects table#calendar_header td.dayHeader {
  font-size: 120%;
  font-weight: bold;
}

div.selects table#calendar_header td.nextDay {
  text-align: right;
}



div.cmf-skinned-select {
  max-width: 200px !important;
}

.buttons .btn {
    float: none;
}







