$marked_item_color: #008000;

table.table_special {
  margin-bottom: 0px;
}

table.table_special span.sort_button {
  cursor: Pointer;
}

form.dataGrid input.own_page {
  width: 35px;
}

.dataGrid tr.summarize_page td, .dataGrid tr.summarize_all td {
  background: #f5f3ef;
  text-align: right !important;
}

form.well {
  background-color: white;
}

table.table_special span.sort_button.active {
  background-color: $marked_item_color;
}

table.table_special div.sortable {
  min-width: 55px;
}


table.table_special div.th_filter {
  width: 90px;
  height: 20px;
}

table.table_special span.active_multiselect {
  background-color: $marked_item_color;
}

table.table_special .input-small {
  width: 40px;
  height: 10px;
  color: $marked_item_color;
}

table.table_special .input-small.input-mini {
  width: 15px;
}

table.table_special .input-small.datetime_class {
  width: 15px;
}

table.table_special label.datetime_class_label {
  display: inline;
}

#spinner {
  z-index: 10000000;
}

.ui-datepicker-divui-datepicker-div {
  z-index: 10000000;
}

.table thead th.users_form_id_ajax_pager {
  vertical-align: middle;
}

.table tfoot th.users_form_id_ajax_pager {
  vertical-align: middle;
}

.pager {
  margin-bottom: 5px;
  margin-top: 5px;
  vertical-align: middle;
}


div.filter-paging em.current {
  font-style: bold;
  margin: 0px 4px;
  padding: 4px 10px 4px;
  font-size: 13px;
    line-height: 18px;

}
span.previous_page.disabled, span.next_page.disabled {
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  margin: 0 4px;
}



.dataGrid .non-breakable-collumn {
  width: 100%;
  white-space: nowrap;
}


.dataGrid .table_filter_active {
    background-color: #5bff23 !important;
}

